
@font-face {
 font-family: 'PT Serif';
  src: url("../fonts/PTSerif-Web-Regular.woff") format("woff"), 
    url("../fonts/PTSerif-Web-Regular.woff2") format("woff2"); 
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif-Web-Bold.woff") format("woff"), 
    url("../fonts/PTSerif-Web-Bold.woff2") format("woff2"); 
  font-weight: 700;
  font-style: normal;
}